.header {
    position: static;
    height: 100px;
    left: 0;
    right: 0;
    z-index: 1;
}

.dashnav {
    width: 100%;
    border-radius: 0;
}



.red-bg {
    top: -60px;
    left: 65px;
    background: #e74c3c;
}

.green-bg {
    top: -60px;
    left: 65px;
    background: #1abc9c;
}

.blue-bg {
    top: -60px;
    left: 65px;
    background: #3498db;
}

.yellow-bg {
    top: -60px;
    left: 65px;
    background: #f1c40f;
}
.gray-bg {
    top: -60px;
    left: 65px;
    background: #728084;
}


h3.menu_ttl {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 15px;
    color: #ccc;
    text-align: left;
    text-transform: uppercase;
}


.leftarea {
    position: relative;
    display: inline-block;
    float: left;
    top: 15%;
}

.ritearea {
    position: relative;
    display: inline-block;
    float: right;
    top: 15%;
    right: 7%;
}

.header_icon {
    position: relative;
    line-height: 2.6;
    float: left;
    color: #ffffff;
    font-size: 2.5rem;
}

.header_ttl {
    position: relative;
    font-size: 2.5rem;
    left: 5%;
    font-weight: 300;
    color: #ffffff;
    float: left;
}

.header_subttl {
    position: relative;
    font-size: 2.5rem;
    font-weight: 300;
    color: #ffffff;
    float: left;
}


.main-menu i.fa {font-size: 2.4rem;}
.main-menu li.red-icon a:hover i.fa, .main-menu li.red-icon a:focus i.fa, .main-menu li.red-icon a.active i.fa {color: #e74c3c;}
.main-menu li.green-icon a:hover i.fa, .main-menu li.green-icon a:focus i.fa, .main-menu li.green-icon a.active i.fa {color: #1abc9c;}
.main-menu li.blue-icon a:hover i.fa, .main-menu li.blue-icon a:focus i.fa, .main-menu li.blue-icon a.active i.fa {color: #3498db;}
.main-menu li.yellow-icon a:hover i.fa, .main-menu li.yellow-icon a:focus i.fa, .main-menu li.yellow-icon a.active i.fa {color: #f1c40f;}

.main-menu i.fa{
	font-size: 2.4rem;
}


/* >>>>>>>>>> MQ <<<<<<<<< */
