body{
	background-color: #fff;
}
.rdThemeDataTable{
	width: 99%;
}

table.insights-data-table{
	width: 100%;
	max-width: 100% !important;
}

.rms-table-header{
	clear: both;
}
.rdThemeDataTableHeader{
	border-right: none;
	background-color: #E4E8EA;
}
.rdThemeDataTableHeader table td{
	border: none;
	background-color: #E4E8EA !important;
	font-weight: bold;
}
.rdThemeDataTableHeader table td a {
	color: #363b42;
}

table.insights-data-table th[conditionalprocessed=true] a{
	color: #3498db;
}
table.insights-data-table th[conditionalprocessed=true]{
	padding: 4px 0 0 0;
}
table.insights-data-table th[conditionalprocessed=true] > table{
	border-bottom: 4px solid #3498db;
}
table.insights-data-table th[conditionalprocessed=true] span{
        color: #3498db;
}


table.rdThemeDataTable tr{
	line-height: 4em;
}

table.rdThemePaging {
	width: 100%;
	background-color: #fff;
}

table.rdThemePaging td{
	float: right;
}

.rdThemePaging a span, .rdThemePagingCurrent{
	min-width: 25px;
	display: block;
	float: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align: center;
	padding: 15px 10px;
	color: #3498db;
	font-size: 1em;
	font-weight: bold;
}
.rdThemePagingCurrent{
	background-color: #3498db;
	color: #fff;
}

#colTableExportControls{
	float: right;
}
#dataTable-FirstPageCaption {
	border-left: 1px solid #ccc;
}

.export-div {
	display: block;
	min-width: 200px;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	font-size: 1.3em;
}
.export-div:last-child {
	border-bottom: none;
}
#colTableExportControls{
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	right: 0;
	top:75px;
	display: none;
}
.export-div .fa:before{
	margin-right: 15px;
	color: #61C26F;
}
.export-csv-div .fa:before, .export-xls-div .fa:before{
	color:#61C26F;
}
.export-pdf-div .fa:before{
	color:#BB0706;
}
.export-menu-container{
	display: block;
	text-align: right;
}

#export-menu-button fa{
	font-size: 2em;
	border: 1px solid #E4E8EA;
	padding: 10px;
	color: #728084;
}
#export-menu-container{
	display: block;
	border-bottom: 1px solid #E4E8EA;
	height: 70px;
	vertical-align: middle;
	position: relative;
	margin: 0 0 20px 0;
}
#export-menu-button{
	height: 70px;
	width: 70px;
	border-left: 1px solid #E4E8EA;
	display: block;
	float: right;
	text-align: center;
	vertical-align: middle;
	color: #728084;
	font-size: 24px;
	cursor: pointer;
}
#export-menu-button > span{
	position: absolute;
	top: 50%;
	margin-top: -16px;
	right: 0;
	width: 70px;
}
#report-filter-container{
	height: 100%;
	width: 15em;
	border-right: 1px solid #E4E8EA;
	cursor: pointer;
	float: left;
	position: relative;
}

#report-filter{
	margin: -10px 1em 0 0;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
}

#insightsDateRangeSelector{
	min-width: 25em;
	height: 1.4em;
}
#insightsDateRangeSelectorDiv .daterangepicker{
	width: 50em;
}
#report-filter > span{
	margin-left: 2em;
}
#filter-direction-icon{
	float: right;
	margin-right: 1em;
	font-weight: bold;
	font-size: 1.2em;
}

#insightsDateRangeSelectorSection{
	float: left;
	height: 100%;
	position: relative;
}
#insightsDateRangeSelectorDiv{
	position: absolute;
	left: 2em;
	top: 50%;
	margin-top: -0.7em;
}

#filter-dropdown-content{
	border-bottom: 1px solid #E4E8EA;
	margin-bottom: 2em;
	padding: 1em;
	display: none;
}

.clear-bottom-border{
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	margin-top: 1px;
}