.login-form-wrapper .form-required{
	display: none;
}
.login-form-wrapper .form-item-name label, .login-form-wrapper .form-item-pass label{
	display: block;
}
.login-form-wrapper .input-group-addon{
	background: none;
}
.login-form-wrapper .form-control{
	border-left: 0;
	box-shadow: none;
}
.login-form-wrapper .item-list ul{
	list-style-type: none;
}

#left-panel{
	background-color: #252d2f;
}

.form-type-checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
    width: 55%;
}
.forgot-pswd{
	position: relative;
	width: 37%;
}
.login-form-wrapper .form-actions{
	margin-top: 3em;
	float: right!important;
}
.form-item, .form-actions {
    margin-top: 0;
    margin-bottom: 0;
}
.form-item-remember-me{
	padding: 1em 0 0 0;
}