/* Custom media queries for smooth viewport response */


/* ~~~~~~~~~~~~~~~~~~ LG ~~~~~~~~~~~~~~~ */

@media (min-width: 1300px){
    .rms_itself {margin-top: 43%;}
}
@media (min-width: 1600px){
    .rms_itself {margin-top: 53%;}

}
@media (min-width: 1900px){
    .rms_itself {margin-top: 58%;}

}
@media (min-width: 2500px){
    .rms_itself {margin-top: 77%; width: 10%;}

}




/* ~~~~~~~~~~~~~~~~~~ SM ~~~~~~~~~~~~~~~ */

@media (max-width: 1199px){

    span.forgot_pswd a {margin-top: -1.6%;}
    label.keep_me_signed span {margin-top: -1.2%;}
    label.keep_me_signed {padding-left: 7.5%;}

    .rms_itself {margin-top: 48%;}
}

@media (max-width: 991px){
    .loginform_holder {left: 8%;}


    .rms_itself {margin-top: 58%; width: 10%;}
}

@media (max-width: 767px){
    .loginform_holder {margin-top: 4%; margin-left: 3%; margin-right: 3%; left: 0;}


    label.keep_me_signed span {margin-top: -0.6%;}
    label.keep_me_signed {padding-left: 5%;}

    span.forgot_pswd a {margin-top: -1%;}

    span.forgot_pswd a:hover {color: #e1e1e1;}

    .rms_itself {margin-top: 4%;}
}

@media (max-width: 660px){

    .rms_itself {margin-top: 7%; width: 15%;}
}

@media (max-width: 525px){

    .rms_itself {margin-top: 9%; width: 17%;}
}

@media (max-width: 485px){

    label.keep_me_signed span {margin-top: -1%;}
    label.keep_me_signed {padding-left: 7.5%;}

    span.forgot_pswd a {margin-top: -1.5%;}

    .rms_itself {margin-top: 11%; width: 20%;}
}

@media (max-width: 414px){
    .loginform_holder {padding-top: 5%;}

    .rms_itself {margin-top: 18%;}
}

@media (max-width: 400px){
    .actuos_logo {
        -webkit-filter: drop-shadow(12px 5px 5px rgba(0,0,0,0.5));
        filter: drop-shadow(12px 5px 5px rgba(0,0,0,0.5));
    }
}

@media (max-width: 375px){
    .loginform_holder {margin-top: 13%;}

    .rms_itself {margin-top: 13%; width: 16%;}
}

@media (max-width: 360px){
    .loginform_holder {margin-top: 15%;}

    .rms_itself {margin-top: 8%;}
}

@media (max-width: 320px){
    .loginform_holder {margin-top: 18%;}
}